/* Style for iPad Pro */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* Menu botton*/
  .menubn {
    display: none;
  }

  .menubn span {
    display: none;
  }

  .menubn span:nth-child(1) {
    display: none;
  }

  .menubn span:nth-child(2) {
    display: none;
  }

  .menubn span:nth-child(3) {
    display: none;
  }

  /* ナビ開いてる時のボタン */
  .menubn.active span:nth-child(1) {
    display: none;
  }

  .menubn.active span:nth-child(2),
  .menubn.active span:nth-child(3) {
    display: none;
  }

  nav.globalmenu {
    width: 100%;
    height: 60px;
    display: block;
    position: fixed;
    z-index: 19500;
    top: 110px;
    left: 0%;
    text-align: center;
    padding:0;
    background-color: var(--color-white);
    border-top:1px solid var(--color-999);
    border-bottom:1px solid var(--color-999);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  nav.globalmenu ul {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  nav.globalmenu ul li {
    list-style-type: none;
    padding: 0;
    flex: 1;
    transition: .4s all;
    border-right: 1px dotted var(--color-999);
  }

  nav.globalmenu ul li:last-child {
    border-right: none;
  }

  nav.globalmenu ul li a {
    width: 100%;
    height: 60px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.5px;
    padding:21px 0;
    color: var(--color-black);
    text-decoration: none;
    transition: .4s all;
  }
  nav.globalmenu ul li a.gm_l2 {
    padding:12px 0;
  }
  nav.globalmenu ul li a:hover {
    color:var(--color-white);
    background-color: var(--color-1st);
  }

  nav.globalmenu ul li a.gm_selected {
    color:var(--color-white);
    background-color: var(--color-1st);
  }

  /* Globalmenu (active) */
  nav.globalmenu.gm_act {
    width: 80%;
    height: 60px;
    display: block;
    position: fixed;
    z-index: 19500;
    top: 0px;
    left: auto;
    right:0;
    text-align: center;
    padding:0;
    border-top:1px solid var(--color-999);
    border-bottom:1px solid var(--color-999);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  nav.globalmenu.gm_act ul {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  nav.globalmenu.gm_act ul li {
    list-style-type: none;
    padding: 0;
    flex: 1;
    transition: .4s all;
    border-right: 1px dotted var(--color-999);
  }

  nav.globalmenu.gm_act ul li:last-child {
    border-right: none;
  }

  nav.globalmenu.gm_act ul li a {
    width: 100%;
    height: 60px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.5px;
    padding:21px 0;
    color: var(--color-black);
    text-decoration: none;
    transition: .4s all;
  }
  nav.globalmenu.gm_act ul li a.gm_l2 {
    padding:12px 0;
  }
  nav.globalmenu.gm_act ul li a:hover {
    color:var(--color-white);
    background-color: var(--color-1st);
  }

  nav.globalmenu.gm_act ul li a.gm_selected {
    color:var(--color-white);
    background-color: var(--color-1st);
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalmenu.active {
    opacity: 100;

  }
}

/* Style for Smartphone */
@media screen and (max-width: 768px) {

  /* Menu botton*/
  .menubn {
    display: block;
    position: fixed;
    z-index: 19000;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }

  .menubn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: var(--color-1st);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .menubn span:nth-child(1) {
    top: 10px;
  }

  .menubn span:nth-child(2) {
    top: 20px;
  }

  .menubn span:nth-child(3) {
    top: 30px;
  }

  /* ナビ開いてる時のボタン */
  .menubn.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: var(--color-1st);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menubn.active span:nth-child(2),
  .menubn.active span:nth-child(3) {
    top: 16px;
    background: var(--color-1st);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalmenu {
    position: fixed;
    z-index: 18800;
    top: 0;
    left: -100%;
    color: #fff;
    background: rgba(255,255,255,0.95);
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  nav.globalmenu ul {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
  }

  nav.globalmenu ul li:first-child {
    border-top: 1px dotted var(--color-1st);
  }

  nav.globalmenu ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    transition: .4s all;
    border-bottom: 1px dotted var(--color-1st);
  }

  nav.globalmenu ul li a {
    display: block;
    color: var(--color-1st);
    padding: 1.5em 0;
    text-decoration: none;
  }

  nav.globalmenu ul li a:hover {
    color:var(--color-white);
    background: var(--color-1st);
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalmenu.active {
    opacity: 100;
    left:0;
  }

}
